.input-wrapper {
    display: flex;
    justify-content: space-around;
}

.title-input {
    color: #676767;
    font-family: Roboto, "Regular", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
}

.input-calculate__item {
    width: 180px;
    height: 42px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    opacity: 1;
    color: #373737;
    font-family: Roboto, "Regular", sans-serif;
}