*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    display: flex;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.wrapper-drop-down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.app-drop-down {
    /*background: #ECF0F2;*/
    padding-top: 42px;
}

.setting-title {
    font-size: 26px;
    margin-bottom: 30px;
    color: #373737;
    font-family: Roboto, "Regular", sans-serif;
}