.account-setup {
    display: flex;
    position: relative;
    border-top: 1px solid #ECF0F2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper-account-setup {
    margin-right: 40px;
}

.account-setup__number p {

}

.account-setup__item {
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Roboto, "Regular", sans-serif;
}

.account-setup-title {
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #373737;
    font-family: Roboto, "Regular", sans-serif;
}

.wrapper-type-transaction {
    margin-top: 40px;
}

.volume {
    color: #373737;
    font-family: Roboto, "Regular", sans-serif;
    font-size: 16px;
}

.wrapper-open-price__volume {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: -7px;
}

.close-component {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}