.header {
    color: rgba(59, 60, 60, .85);
}

.header h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 46px;
    color: #373737;
    font-family: Roboto, "Regular", sans-serif;
}

.header-text {
    margin-bottom: 30px;
    font-size: 16px;
}
